:root {
    --inter-font: 'Inter', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.left h1 {
    font-size: 40px;
    font-family: var(--inter-font);
}
.form {
    margin-top: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.form .item {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.form .item label {
    font-family: var(--inter-font);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form .item input {
    padding: 13px;
    font-size: 18px;
    border: 1.5px solid #D2D2D2;
    border-radius: 5px;
}
.login-btn-div {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.login-btn-div button {
    background-color: blue; /* I CHANGE THIS LATER CANT OPEN FIGMA SRY*/
    color: white;
    width: 90%;
    border: none;
    padding: 8px 0px;
    border-radius: 30px;
}
.right {
    flex-shrink: 0;
    width: auto;
}
.right img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}